.titulo {
  padding-right: 30px;
  margin: auto;
}

.botao {
  max-width: 100%;
  width: 100%;
  //   margin: 0 auto;
  //   border: 1px solid #000;
  display: flex;
  align-items: flex-end;
  //   align-content: flex-end;
  flex-direction: column;
}

mat-list-item:hover {
  transition: 0.3s;
  border-radius: 32px;
  background: #5a5a5a;
  color: white;
  // box-shadow: 50px 50px 100px #fafafa, -50px -50px 100px #ffffff;
}

@media screen and (max-width: 800px) {
  mat-list-item {
    margin: 30px auto;
  }
}
